<div class="loginpage">
<h1 class="text-center">Log In</h1><br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-4 mx-auto">
        <%= f.email_field :email, autofocus: true, :class=> "form-control form-control-lg",:placeholder=>"Your Email" %>
      </div><br>
      <div class="col-md-4 mx-auto">
        <%= f.password_field :password, :class=>"form-control form-control-lg",:placeholder=>"Your Password" %>
      </div><br>

      <div class="actions d-grid gap-2 col-4 mx-auto">
        <%= f.submit "Log in", :class=>"btn btn-primary" %>
      </div><br>
      
      <div class="col-md-4 mx-auto">
        <%= link_to "SignUp",  new_user_registration_path %>
      </div>
    <% end %>

</div>